#x {
    z-index: 1;
    opacity: 0.2;
    position: absolute;
}

#y {
    opacity: 0.2;
    z-index: 3;
    position: relative;
}

h1 {
    margin: 5px;
}

h4 {
    margin: 5px;
}

p {
    margin: 5px;
}

footer {
    position: sticky;
    background-color: blueviolet;
    color: gold;
}