<!DOCTYPE html>
<html>
    <body>
      <h4>Original Picture</h4>
        <img src="../static/flower.png"><br/>
      <h4> X convolution </h4>
        <img src="../static/xconv.png"><br/>
      <h4> Y convolution </h4>
        <img src="../static/yconv.png"><br/>
      <h4> Sobel </h4>
        <img src="../static/edges.png">
        <!--<script src="../static/js/index.js"> </script>-->

<form action="/" method="POST" enctype = "multipart/form-data">
  <input type="file" id="myFile" name="filename">
  <input type="submit" id="sub">
</form>


    </body>
</html>
