<!-- <!DOCTYPE html>
<html>
    <body>
        <img src="../static/flower.png">
        <img src="../static/edges.png">
        <img src="../static/blur.png">
        <img src="../static/edges2.png">
    </body>
</html> -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h1> Edge Detection </h1>
        <p>
            Edge detection can be done in different ways, all with linear algebra at their core. 
            As you know, images can be represented with matrices. These matrices can then be manipulated
            to do cool things such as edge detection. First, we will introduce a new matrix operation called
            kernel convolution. Never heard of that? Think it sounds like corn? Are you getting hungry for popcorn?
            Well, there's no popcorn, but it does involve taking a matrix called a kernel and traversing another matrix, taking
            same-sized kernels out of that. The kernels of that matrix are centered around the specific element that you're on when 
            traversing the matrix. The elements of the two kernels are multiplied together. The elements of the resulting kernel
            are then averaged. This average is then used to replace the specific element of the matrix (the one that isn't the kernel).
            By replace, we actually mean that you should put it in a separate same-sized matrix so you can preserve the values of the 
            original matrix. 
        </p>
        <p>
          Here, we will walk through edge detection on a simple picture of a flower.
        </p>
      <h4>Original Picture</h4>
        <img src="../static/flower.png"><br/>
      <h4> X convolution </h4>
        <img src="../static/edgesxconv.png"><br/>
      <p> So, what happened up there is kernel convolution in the x direction. </p>
      <h4> Y convolution </h4>
        <img src="../static/edgesyconv.png"><br/>
      <p> The picture above depicts what happened after we applied kernel convolution in the y direction. We used the transpose of the original image matrix to make the process easier. </p>
      <h4> Comparison between the two images:</h4>
        <img id="x" src="../static/edgesxconv.png">
        <img id="y" src="../static/edgesyconv.png"><br/>
        <h4> Final image after the whole sobel edge detection process: </h4>
        <img id="edges" src="../static/edges.png">
        <p> After both convolutions, we took the magnitude of the values from the x and y directions.</p>
        <p> Here is the formula for the magnitude: </p>
        <p> G = &radic;(G<sub>x</sub><sup>2</sup> + G<sub>y</sub><sup>2</sup>)</p>
        <!--<script src="../static/js/index.js"> </script>-->

        <form action="/" method="POST" enctype = "multipart/form-data">
            <input type="file" id="myFile" name="filename">
            <input type="submit" id="sub">
        </form>


    </body>
    <footer>
        Made by Yuqing Wu and Roshani Shrestha :D
    </footer>
</html>
